/*
 * DagikEarth on the Web 用CSS
 */

/* DagikEarth の表示領域全体 */
.dow_main { margin: 0; background-color: #000000; }

/* DOWのボタン類を表示するレイヤ */
#dow_ui {}
#dow_ui .button {}

/* ロード中やエラー等の表示レイヤ */
#dow_console { position: absolute; top: 0; left: 0; max-width: 30%; height: 100%; }
#dow_console .progress { color: #fff; background-color: rgba(70, 70, 70, 0.8); padding: 5px; }
#dow_console .error { color: #f00; background-color: rgba(70, 70, 70, 0.8);  padding: 5px; }
#dow_console .details { color: #aaa; background-color: rgba(70, 70, 70, 0.8); height: 100%; overflow: scroll; padding: 5px; }
#dow_console .details .detail_E { color: #aaa; list-style-image: url("icons/console-error.png"); display: list-item; list-style-position: inside; vertical-align: middle; }
#dow_console .details .detail_W { color: #aaa; list-style-image: url("icons/console-warning.png"); display: list-item; list-style-position: inside; vertical-align: middle; }
#dow_console .details .detail_I { color: #aaa; list-style-image: url("icons/console-info.png"); display: list-item; list-style-position: inside; vertical-align: middle; }
#dow_console .details .info { color: #aaa; display: block; }

body {
  -webkit-touch-callout:none; 
  -webkit-user-select:none;
}